# Domínio do Nextcloud
nextcloud.servidoresduciferzinho.cloud {
    reverse_proxy nextcloud:80
}

# Domínio do Vaultwarden
vaultwarden.servidoresduciferzinho.cloud {
    reverse_proxy vaultwarden:80
}